<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Restopia adalah situs menyediakan informasi restoran terlengkap.">
    <title>Situs Informasi Restoran Indonesia Terlengkap | Restopia</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" media="all" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon.ico">
</head>

<body>
    <a href="#mainContent" class="skip-link">Menuju Rekomendasi Restoran</a>
    <nav class="nav">
        <a href="/" class="nav__brand-link">
            <picture>
                <source srcset="./icons/icons8-restaurant-100.webp" type="image/webp">
                <img src="./images/placeholder.jpg" data-src="./icons/icons8-restaurant-100.png" alt="Restopia Logo"
                    class="nav__brand-logo lazyload">
            </picture>
            <span class="nav__brand-text">Restopia</span>
        </a>
        <div class="nav__middle">
            <div class="search__input-wrapper">
                <form action="#" method="GET" class="search__group">
                    <input type="text" aria-label="Bidang pencarian" class="search__input" placeholder="Cari restoran">
                    <button aria-label="Tombol pencarian" type="submit" class="search__search-icon">
                        <icon class="fa fa-search"></icon>
                    </button>
                </form>
            </div>
        </div>
        <div class="nav__menu" id="drawer">
            <ul class="nav__list">
                <li class="nav__item"><a href="/#" class="nav__item-link" aria-label="Link to home page"><span
                            class="link__label">Home</span> <span class="link__icon fa fa-home"></span></a></li>
                <li class="nav__item"><a href="/#/favorite" class="nav__item-link"
                        aria-label="Link to your favorite restaurants page"><span
                            class="link__label">Favorite</span><span class="link__icon fa fa-heart"></span></a>
                </li>
                <li class="nav__item"><a href="https://www.linkedin.com/in/rizky-ardi-ilhami-a66bbb158/" target="_blank"
                        rel="noopener" referrerpolicy="no-referrer" class="nav__item-link">About Us</a></li>
                <li class="nav__item">
                    <div style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 10px;">
                        <a href="#" class="btn btn-secondary">Masuk</a><a href="#" class="btn btn-primary">Daftar</a>
                    </div>
                </li>
            </ul>
        </div>
        <button class="nav__menu-button" id="menuButton" aria-label="menu bars button"><span
                class="fa fa-bars"></span></button>
    </nav>
    <div id="content"></div>
    <footer>
        <p class="footer-label">&copy; Copyright Restopia 2021</p>
    </footer>
</body>

</html>